h1{
  position: absolute;
  width:100%;
  top: 30vh;
  font-weight: 500;
  margin: 0 auto;
  color: #FFF;
  height: 80vh;
}

h2{
  margin-top: 5rem;
  color: #bf912d;
}

h3{
  color: #bf912d;
}

.bgHeader{
  position: relative;
  z-index: -5;
  width: 100%;
  height: 80vh;
  background-position: center center;
  background-size: cover;
  filter: brightness(40%);
}

.headerBg{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
}

.container-hotels{
  margin: 30px 0 40px 0;
  margin-top: 4vh;
}
  
.hotels-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
  max-width: 1200px;
  padding: 0;
}

.hotel-img{
  max-height: 445px;
  min-width: 370px;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 0 10px 15px #2c2c2c30;
  filter: brightness(0.6);
  transition-duration: 500ms;
}

.hotel-img:hover{
  transform: scale(1.05);
}

.hotels-link{
  position: relative;
  z-index: 1;
  height: 445px;
  width: 370px;
  min-width: 370px;
  margin: 15px;
  overflow: hidden;
  animation: show .8s ease;
}

figcaption{
  position: relative;
  z-index: 5;
  bottom: 150px;
}

.picto_cardHypnos{
  width: 50px;
  height: 50px;
  position: relative;
}

.label-name{
  color: #f6d06b;
  font-size: 2rem;
}

.content-home{
  position: relative;
  background-color: #eaecea;
  height: 100vh;
}

.container-apropos{
  position: relative;
}

.content-apropos{
  position: relative;
  width: 100%;
  height: 550px;
  object-fit: cover;
  overflow: hidden;
  background-image: "images/basement-g619d6f8e7_1920.jpg" ;
  background-position: bottom;
}

.container-bienvenue{
  position: absolute;
  width: 700px;
  z-index:5;
  left: 28vw;
  padding: 3rem;
  background-color: #292726;
  color: #eaecea;
  bottom: -30px;
  transition-duration: 300ms;
}

.container-bienvenue:hover{
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.514);
  transform: scale(1.05);
}

.arabesque{
  margin: 1rem ;
}

.txt-link{
  position: relative;
  color: #bf912d;
  font-size: 1.1rem;
  top: 1rem;
}
.spa-title{
  margin-top: 9vh;;
}

.bloc-left{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.container-spa{
  color: #292726;
  text-align: left;
  padding: 30px;

}


@media screen and (max-width: 767px){

  .container-bienvenue{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
  }

  .bloc-left{
    display:flex;
  }
  

}