.forms-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
.infos-cantin{
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

.txt-contact{
    font-size: 1rem;
    color: #555555;
    line-height: 2rem;
    padding-bottom: 3vh;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    text-align: left;
    margin-bottom: 3vh;
}

label {
    margin-bottom: 0.5em;
    color: #fd787e;
    font-weight: lighter;
}

input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

input, select {
    padding: 10px 10px;
    border-radius: 5px;
    border: 1px solid #d6d1d5;
}

select {
    display: block;
    width: 100%;
    height: 35px;
}

textarea{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 100%;
    height: 10vh;
}

button{
    border: none;
    min-width: 200px ;
    height: 6vh;
    font-family: inherit;
    color:#FFF;
    background: #fd787e;
    border: none;
    transition: #fd787e 200ms ease-in, color 200ms ease-in;
}

button:hover{
    background: #482380;
    color:#fff;
  }

@media screen and (max-width: 1024px) {  
}

@media (max-width: 1300px), screen and (orientation: portrait) {
    form{
        margin: 0 2rem;
    }
    button{
        width: 100%;
    }
}