.logo_header{
    position: absolute;
    margin-top: 4vh;
    margin-left: -80px;
    right: 50vw;
    left: 50vw;
}

.logo_hypnos{
    width: 200px;
}

@media screen and (max-width: 767px){
    .logo_header{
        margin-left: -100px;

    }
}